@proleads:registry=https://gitlab.sendapi.su/api/v4/packages/npm/
//gitlab.sendapi.su/api/v4/packages/npm/:_authToken=${GL_ACCESS_TOKEN}
//gitlab.sendapi.su/api/v4/projects/81/packages/npm/:_authToken=${GL_ACCESS_TOKEN}
//gitlab.sendapi.su/api/v4/projects/78/packages/npm/:_authToken=${GL_ACCESS_TOKEN}
shamefully-hoist=true
