/* stylelint-disable at-rule-empty-line-before */
@use "sass:math";

@mixin flex-column($numberOfColumns, $columns: 1, $margins: 0) {
  @if $numberOfColumns==$columns and $margins==0 {
    flex-basis: 100%;
    max-width: none;
  } @else {
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    $flex-basis: unquote("calc(" + (math.div(100, $columns) * $numberOfColumns) + "% - " + ($margins * 2) + ")");

    flex-basis: $flex-basis;
    max-width: $flex-basis;
  }
}
